@media #{$small-only}{
	.buttons_form{
		button{
			width:50%;
		}
	}
	html, body{
		height:auto !important;
		margin: 0 auto;
	}
} 
@media #{$small-up}  
{
	figure{
		margin:10px 0;
		.logo{
			float:none;
		}
	} 
 }
 @media #{$medium-up}{
 	html, body{
		height:100%;
		 
	}
 }
 @media #{$large-up}{
 	body{

 		background-size:150%;
 		.logo{
		float:right;
		}	
 	}
 }
