ul{
	padding: 0;
	margin: 0;
	float: left;
	display: inline-block;
	li{
		text-decoration: none;
		list-style-type:none;
		float: left;
		padding: 15px 15px 10px 5px;

		a{
			text-decoration: none;
			color:white;
			transition:$transition;
		}
		:hover{
			color:$login-bg;
		}
	}
}
 

/* dashboard */

.main_nav{
	transform:translate(15%);
 	li{ 
 		position: relative;
 		padding:35px 14px 5px 14px;
 		text-align: center;
 		display:inline;
 		a{ 
 			text-align: center;
 			padding:50px 0;

 		}
 		&:hover p{
 				color:white;
 				font-weight: bolder;
 				@include translateY(-220%);
 			}
 		p{
	 		-webkit-transition: -webkit-transform 0.3s;
			-moz-transition: -moz-transform 0.3s;
			transition: transform 0.3s;
	 		padding:15px 0 0 0;
 		}
	 	&:hover, &:hover::after,&:hover span{
	 		background-color:black;
	 		color:white;	 
	 	}
	 	&:after{
	 		    content: "";
			    position: absolute;
			    top: 94%;
			    left: 50%;
			    height: 16px;
			    width: 16px;
			    @include border-radius(100%);
			    margin-left: -8px; 
	 	}
 	}
 	span{
		margin:20px 0;
		font-size:2.8em;
	}
 }

/* moblie menu */

.mobile_hamb{
	z-index: 999;
	display: block;
	position: absolute;
	top:10px;
	left:16px;
	background-color: silver;
	width: 50px;
	height: 50px;
	border:5px solid black;

}
