

*{
	box-sizing:border-box;
}
figure{
	margin-right: 0px !important;
	margin-top:0px;	 
}
.container{	 
	padding-top: 5%;
	margin:0;
}

 .al_left{
	text-align:left;
}
.al_right{
	text-align: right;
}
 span{
 	cursor: pointer;
 }
.new_info{
	position:absolute;
	content: "";
	top:1px;
	right: 1px;
	background-color: #EB2A81;
	padding: 0px 6px 4px 6px;
	line-height: .8;
	@include border-radius(100%);
	text-align: center;
	font-size: .8em;
 }

 




/* budgets */
.get_month{
	

}
.calendar{
	position: relative;
	.left{
			position: absolute;
			top:62%;
			left:20%;
	}
	.right{
			position: absolute;
			top:62%;
			left:80%;
	}
	
}
.circle{
	display: table;
	border-radius: 100%;
	width: 200px;
	height: 200px;
	border: 40px solid white;
	.sometext{
		text-align:center;
		display: table-cell;
		vertical-align: middle;
	}
}
