

*{
	text-align:center;
	box-sizing:border-box;
}
figure{
	margin-right: 0px !important;
	margin-top:0px;	 
}
.container{	 
	padding-top: 5%;
	margin:0;
}

 .al_left{
	text-align:left;
}
.al_right{
	text-align: right;
}
.new_info{
	position:absolute;
	content: "";
	top:1px;
	right: 1px;
	background-color: #EB2A81;
	padding: 0px 6px 4px 6px;
	line-height: .8;
	@include border-radius(100%);
	text-align: center;
	font-size: .8em;
 }
 span{
 	cursor: pointer;
 }
.marg_reset{
	margin:0 !important;
}