

*{
	text-align:center;
	color:white;
	box-sizing:border-box;
}
figure{
	margin-right: 0px !important;
	margin-top:0px;	 
}
.container{	 
	padding-top: 5%;
	margin:0;
}
html, body{
	height: auto !important;
	margin: 0 auto;
}