.login_box{
	padding:5% 0;
	@include border-radius(10px);	
}
.log_user{
	margin:15px;
	.user_name span{
		padding:5px;
		background-color:$spam-close;
		@include border-radius(100%);
		margin:5px;
	}
	p{
		font-weight: bolder;
		font-size: 1.2em;
	}
}
