.box_form{ 
	margin:150px 20px 50px 20px;
	padding: 0 15px 15px 15px;
	input{
		margin-top: 5px;
		@include border-radius(5px);
	}	
	.keyboard {
		font-size: 2em;		
	}
	#blad{
		background-color: red;
		width: 100%;

	}
}

 